:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

#main{
    /* margin: 0 auto; */
    margin-left: -8px;
    margin-right: -5px;
    margin-top: -8px;
    padding: 0px;
    width: 1520px;
    /* max-width: 100%; */
    box-sizing: border-box;
    background-color: #e1dfdf;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
    margin-right: -5px; */
}

.main__content{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.full-width{
    width: 100%;
}

.column-2{
    width: 50%;
    /* padding-left: 5px;*/
    float: left;
}


.column-3{
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
}

.column-4{
    width: 24%;
    /* padding-left: 5px;*/
    float: left;
}

.column-5{
    width: 18.5%  !important;
    padding-left: 5px;
    padding-right: 5px;
}
 
.border-radius{
    border-radius: 10px;
}

.mr-5{
    margin-right: 5px;
}

.column-6{
    width: calc(16.67% - 9px);
    
    /* padding-left: 5px;
    padding-right: 5px; */
}

