.main-box{
    /* border-top: 1px solid #e0e0e0; */
    padding-top: 15px;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f7f5f5;
    display: flex;
}

.detail{
    padding-top: 15px;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f7f5f5;;
    display: flex;
    border-bottom: solid #999797 1px;
}

.rate{
    color: rgb(245, 134, 60);
    margin-left: 15px;
    margin-top: 10px
}

.rate-text{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(30, 152, 246);
}

.plus{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(30, 152, 246);
}

.box-size{
    margin-bottom: 10px;
    margin-left: 45px;
}

.list-pro{
    z-index: 1;
}

.box-size__item{
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-decoration: none;
}

.action{
    border-color: #2f80ed;
    color: #2f80ed;
}

.box-options{
    margin-bottom: 10px;
    position: relative;
}

.b_title{
    padding: 10px;
    border-radius: 4px 4px 0 0;
    background-color: #e21d22;
    overflow: hidden;
    margin-left: 45px;
}

.b_title img{
    width: 74px;
    float: left;
    border: 0;
}

.b_title div{
    float: left;
    margin-left: 5px;
    border-left: 1px solid #fff;
    padding-left: 10px;
    max-width: calc(100% - 80px);
}

.b_title div strong {
    font-size: 18px;
    color: #f8e81c;
    display: inline-block;
}

.b_title div em{
    color: #fff;
    text-decoration: line-through;
    font-style: normal;
    margin-left: 5px;
    font-size: 17px;
    display: inline-block;
}

.b_title div i{
    color: #fff;
    font-style: normal;
    margin-left: 3px;
    font-size: 16px;
    display: inline-block;
}

.b_title div span{
    display: block;
    color: #fff;
    padding-top: 3px;
    font-size: 16px;
}

.b_content{
    background-color: #fff4de;
    border: 1px solid #fde8d5;
    padding: 8px 0;
    margin-left: 45px;
}

.b_content ul{
    padding: 0 5px;
    margin-bottom: 10px;
    list-style: none;
}

.b_content ul li {
    margin-bottom: 2px;
    line-height: 1.6;
    padding-left: 12px;
    position: relative;
}


