*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
}
 
html
{
    width: 100%;
    /* width: 1045px; */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.row{
    margin-left: -8px ;
    margin-right: -8px ;
    width: 100%;
} 

.mt-32{
    margin-top: 32px;
}

.ml-32{
    margin-left: 32px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-fourth{
    width: 25%;
}

.col-third{
    width: 33.33%;
}

.col-half{
    width: 50%;
}

.white-text{
    color: #fff;
}

.hover-opacity:hover{
    opacity: 0.8;
}

.grey{
    background-color: grey;
}

.grey-dark{
    background-color: rgb(86, 84, 84);
}

.hover-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}

#main{
    overflow: hidden;
}

/* Header */
.header{
    /* right: 0;
    display: block; */
    max-width: 100%;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-size: 16px; 
}

#header_white
{
    /* position: fixed; */
    height: 60px;
    background-color: #fff;
}


#header_logo a{
    text-decoration: none;
    float: left;
    padding: 20px;
    color: rgb(53, 53, 53);
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
}


#header_menu{
    overflow: hidden;
    list-style-type: none;
}

#header_logo a:hover, #header_menu li a:hover{
    background-color: rgb(215, 220, 218);
}

#header_menu li{
    float: right;
}

#header_menu li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: #fff;
    color: rgb(53, 53, 53);
    font-weight: 100;
}

#header_black{
    font-weight: 100;
    color: #fff;
    background-image: url(../img/mac.jpg);
    height: 700px;   
    max-width: 100%;
    /* background-position: center;
    background-size: cover; */
    opacity: 0.9;
    padding-left: 70px;
}

.span1{
    line-height: 1.8;
    font-size: 75px;
    font-weight: 100;
    padding-top: 128px;
    
}

.span2{
    font-size: 25px;
}

.header_btn{
    background-color: rgb(196, 193, 193);
    margin-top: 30px;
    width: 350px;
    height: 60px;
    font-size: 20px;
    opacity: 0.6;
}

.header_btn:hover{
    background-color: #fff;
    border: none;
}

.header_contact i{
    padding-top: 168px;
    color: rgb(118, 119, 120);
    font-size: 20px;
}

.header_contact i:hover{
    color: rgb(70, 70, 71);
}

.text-center{
    text-align: center;
}

/* Section */

.size-icon{
    font-size: 60px;
}

.section-list{
    margin-top: 64px;
    box-sizing: inherit;
    padding: 0 8px;
}

.container{
    background-color: rgb(238, 238, 235);
}

.container_margin{
    padding: 128px 32px;
    box-sizing: inherit;
}

.btn-black{
    border: none;
    display: inline-block;
    padding: 8px 32px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: rgb(37, 36, 36);
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn-black:hover{
    background-color: rgb(195, 192, 192);
    color: rgb(34, 34, 34);
}

.img-iphone{
    margin-top: 15px;
    width: 554px;
    border-radius: 4px ;
}

.img-fourth-size{
    width: 100%; 
   display: block;
   filter: grayscale(100%);
     -webkit-filter: grayscale(70%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
}

/* List team people */
.peoples-list{
    width: 100%;
    /* margin-top: 64px;
    margin-left: 16px; 
    margin-right: 16px; */
    margin: 0px;
    padding: 5px;
}

.people-body{
    background-color: #fff;
    padding: 24px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.people-name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(28, 27, 27);
}

.people-position{
    color: rgb(150, 149, 149);
    margin-bottom: 13px;
    font-size: 17px;
}

.people-description{
    color: rgb(52, 51, 51);
    font-size: 16px;
}

.people-contact-btn{
    background-color: rgb(240, 242, 244);
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 13px;
    border: none;
    height: 40px;
    font-size: 16px;
    color: rgb(52, 51, 51);
}

.people-contact-btn:hover{
    cursor: pointer;
    background-color: rgb(225, 221, 221);
}

/* List numbers */
.list-number{
    background-color: #616161;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 100px;
}

.number-size{
    font-size: 36px;
}

.picture-list{
  width: 100% !important;
}

/* Our skills */

.section-skill{
    background-color: rgb(239, 239, 239);
}

.skill-list{
    padding: 64px 32px;
}

/* Price */

.black-white{
    background-color: black;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 24px;
    margin-top: 16px;
}

.price-list-item{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
}

.padding-16{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    color: rgb(35, 34, 34);
    border-bottom: 1px solid rgb(200, 198, 198);
}

.red-white{
    background-color: rgb(235, 58, 58);
    color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 24px;
}

/* Contact */
.section-contact{
    background-color: rgb(239, 239, 239);
}

.para{
    color: #3e3e3e;
    margin-bottom: 24px;
}

.icon-size{
    font-size: 36px;
    margin-right: 16px;
    color: black;
}

.border{
    border: 1px solid #ccc !important;
}

.input{
    width: 100%;
    padding: 12px;
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

/* Footer */
.footer{
    background-color: black;
    padding: 64px;
}

.footer-list{
    text-align: center;
}

.button-footer{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    /* vertical-align: middle; */
    overflow: hidden;
    text-decoration: none;
    /* text-align: center; */
    cursor: pointer;
    white-space: nowrap;
    background-color: #fff;
    color: #292929;
}

.button-footer:hover{
    background-color: #c0bdbd;
}

.footer_contact {
    padding-top: 24px;
    color: #fff;
    font-size: 24px;
    padding-bottom: 24px;
}

.footer_contact :hover{
    opacity: 0.9;
}

.hover{
    color: #fff !important;
}

.hover:hover{
    color: rgb(4, 69, 31);
}

/* Responsive */
@media( min-width: 1024px){

}

@media( min-width: 740px) and (max-width: 1023){
   
}

@media( max-width: 740px){
    .section-item{
        margin-top: 30px;
        width: 100% !important; 
    }
}