

html{
    padding: 0px;
}


.img-slider{
    margin:  0px 150px;
}

.image-item{
    /* width: 100%; */
}

.img-slider-full{
    background-color: #ffe56c;
    width: 100%;
}

.btn-logOut{
    margin-top: 30px;
    float: right;
    text-decoration: none;
    font-weight: 550;
    padding-right: 4px;
    color: black;
}

.slick-prev:before, .slick-next:before{
    font-family: fontawesome;
    font-size: 30px;
    color: aliceblue;
}

.slick-prev:before{
    content: '\f053';
}
.slick-next:before{
    content: '\f054';
}

/* Header */

.header-full{
    width: 100%;
    background-color: rgb(232, 195, 13);
}

.header{  
    width: 1295px;
    height: 150px;
    margin:  0px 150px;
    
}

/* Header-top */

.header-top {
    width: 100%;
    height: 40px;
    padding: 16px;
    display: flex;
}

.header-top_logo{
    width: 228px;
    height: 40px;
    margin-right: 16px;
}

.header-top_address a{
    text-decoration: none;
    color: black;
}

.header-top_address{
    background-color: rgb(239, 166, 8);
    padding: 4px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 16px;
}

/* .header-top_search{
    flex: 1;
    height: 100%;
    position: relative;
} */

.header-top_search-input{
    width: 250px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 8px;
    border-radius: 2px;
}

.header-top_search-input:focus ~ .header-top_search_history{
    display: block;
    
}

.header-top_search_history{
    /* position: absolute; */
    right: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: rgb(249, 250, 250);
    box-shadow: 0 0 3px rgb(251, 247, 247);
    display: none;
    border-radius: 2px;
    z-index: 3;
    overflow: hidden;
}

.header-top_search_history_heading{
    width: 100%;
    margin: 8px 12px;
    font-size: 16px;
    color: #999;
    font-weight: 400;
    background-color: rgb(221, 220, 220);
    margin-left: -0.5px;
}

.header-top_search_history_heading_ground{
    padding: 1px;
    background-color:  rgb(221, 220, 220);
    margin: 4px 0px;
}

.header-top_search_history_list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header-top_search_history_item{
    height: 38px;
    padding: 0 12px;
}

.header-top_search_history_item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header-top_search_history_item a{
    text-decoration: none;
    font-size: 13.5px;
    color: rgb(19, 19, 19);
    line-height: 32px;
    display: block;
}

.header-top_search_history_icon{
    background-color: #fff;
    float: right;
    display: inline;
    height: 100%;
}

.header-top_history{
    background-color: rgb(239, 166, 8);
    padding: 4px 12px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 16px;
    width: 75px;
    text-align: center;
}

.header-top_history a{
    text-decoration: none;
    color: black;
}

.header-top_cart{
    background-color: rgb(239, 166, 8);
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 8px;
    width: 95px;
    text-align: center;
}

.header-top_cart a{
    text-decoration: none;
    color: black;
}

.border{
    background-color: #ffe56c;
    height: 32px;
    width: 1px;
}

.header-top_news{
    align-items: center; 
    display: flex;
    /* width: 28%; */
} 

.header-top_news-item{
    padding: 0 12px;
    text-align: center;
}

.header-top_news-item a{
    text-decoration: none;
    color: black;
}

/* Header-main */

.header-main{
    width: 100%;
}

.header-main-list{
    display: flex;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

.header-main-item{  
    list-style: none; 
    margin: 0px;
    /* width: 100%; */
    padding: 16px;
}

.header-main-item a{
    text-decoration: none;
    color: black;
}

/* AVAJi */




.header-main-item-AVAJi:hover .item-detail-list{
    display: block;
    position: absolute;
}

.header-main-item-AVAJi{
    position: relative;
}

.item-detail-list{
    /* position: absolute; */
    margin-top: 16px;
    top: calc(100%-6px);
    right: 0px;
    z-index: 1;
    padding-left: 0px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    width: 160px; 
    display: none;
    border-radius: 2px;
    /* position: relative;   */
}

/* .item-detail-list::before{
    content: "";
    border-width: 15px 25px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 120px;
    top: 25px;
    
}

.item-detail-list::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
} */

.item-detail-one{
    text-decoration: none;
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fff;
    /* display: block; */
}

.item-detail-one a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.banner a{
    z-index: 0;
}

/* Main Content */

.slider_event{
    margin-top: -100px;
    z-index: 1;
}

.sale-options{
    display: flex;
    overflow: hidden;
    text-align: center;
    border-radius: 12px;
    margin: 30px 0px;
    position: relative;
    z-index: 1;
    list-style: none;
    padding: 0px;
}

.sale-options li{
    display: inline-block;
    vertical-align: middle;
    border-radius: 12px;
    background-color: #fff;   
    margin-right: 20px;
    padding: 15px;
}

.sale-options li:last-child{
    margin-right: 0px;
}

.sale-options li a{
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.sale-options li a img{
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}

.sale-options li a span{
    color: var(--black-color);
    text-decoration: none;
}

.dealhot{
    background-color: rgb(234, 174, 44);
    width: 100%;
    /* padding: 16px; */
    border-radius: 6px;
    padding-bottom: 50px;
}

.dealhot-img{
    height: 70px;
    width: 100%;
    margin: 0px;
}

.dealhot-listproduct {
    width: 100%;
    padding: 5px 15px 5px 15px;
}

.dealhot-product{
    background-color: #fff;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    padding-bottom: 80px ;
    width: 94% !important;
    display: inline-block;
}

.dealhot-product a{
    text-decoration: none;
    color: #000;
}

.dealhot-product__img{
    width: calc(100% - 8px);
    margin: 30px 5px 30px 5px;
}

.dealhot-product__img:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */  
    cursor: pointer;
}

.dealhot-product h3{
    font-size: 15px;
    padding: 0px 8px 8px;
    line-height: 21px;
    margin: 0px !important;
}

.dealhot-product h3:hover{
    color: #3fb2f0;
   
}

.dealhot-product strong{
    color: rgb(171, 11, 11);    
    padding-left: 5px;
}

.dealhot-product small{
    color: rgb(195, 72, 15);
    background-color: rgb(196, 156, 137);
    border-radius: 2px;
    
}

.btWatch{
    padding: 15px 30px;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 400px;
    margin-top: 30px;
    width: 300px;  
}

.btWatch a{
    text-decoration: none;
    color: black;
}

.trend{
    /* margin-top: 20px; */
    background-color: #fcb69f;
    border-radius: 12px;
    display: block;
    margin: 0 0 30px;
}

.trend h3{
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
}

.trend-list{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    padding: 0 22px 30px;
    list-style: none;
}

.trend-list li {
    float: left;
    width: 277px;
    margin: 0 12px 0 0;
    position: relative;
}

.trend-list li a{
    display: block;
    overflow: hidden;
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}

.trend-list li span {
    position: absolute;
    bottom: 58px;
    left: 18px;
    font-size: 16px;
    line-height: 14px;
    color: #333;
}

.trend-list li strong {
    position: absolute;
    bottom: 24px;
    left: 18px;
    font-size: 17px;
    line-height: 20px;
    color: #2f80ed;
    font-weight: 500;
}

.hot-category{
    display: block;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 12px;
}

.hot-category strong {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
}

.hot-list-full{
    display: block;
    overflow: hidden;
    padding: 0 40px 30px;
}

.hot-list{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.hot-item{
    display: inline-block;
    /* vertical-align: top; */
    padding: 10px 0;
    display: block;
    overflow: hidden;
    color: #333;
    text-align: center;
    width: 112px;
}

.hot-item a{
    text-decoration: none;
    color: #333
}

.hot-item span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0 5px;
}

.hot-item a img{
    display: block;
    height: 56px;
    margin: auto;
    width: auto;
    height: 60px;
}

.pay-online h3{
    padding: 0 0 15px;
    font-size: 22px;
}

.pay-list{
    width: 100%;
}

.service{
    background-color: #f6f3f2;
    border-radius: 12px;
    display: block;
    margin: 0 0 30px;
}

.service h3{
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
}

.service-list{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    padding: 0 22px 30px;
    list-style: none;
}

.service-list li {
    float: left;
    width: 277px;
    margin: 0 12px 0 0;
    position: relative;
}

.service-list{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 22px 30px;
}

.service-item{
    float: left;
    width: 283px;
    margin: 0 12px 0 0;
    border-radius: 14px;
    padding: 24px 10px;
    background: #dceeff;
    cursor: pointer;
}

.service-icon{
    float: left;
    width: 38px;
    margin-right: 12px;
}

.service-img{
    background-image: url(../img/s1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

.service-text{
    display: block;
    overflow: hidden;
}

.service-text__head{
    display: block;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}

.service-text small {
    /* display: block; */
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}

.service-text small strong {
    color: #e40e0e;
}

.yellow{
    background-color: #ffe56c;
}

.orange{
    background-color: #fcb69f;
}

.green {
    background-color: rgb(195, 247, 117);
}

.suggest h3{
    display: block;
    overflow: hidden;
    padding: 10px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
}


.suggest-options{
    display: flex;
    overflow: hidden;
    text-align: center;
    border-radius: 12px;
    margin: 30px 0px;
    position: relative;
    z-index: 1;
    list-style: none;
    padding: 0px;
}

.suggest-options li{
    display: inline-block;
    vertical-align: middle;
    border-radius: 12px;
    background-color: #fff;   
    margin-right: 20px;
    padding: 15px;
}

.suggest-options li:last-child{
    margin-right: 0px;
}

.suggest-options li a{
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.suggest-options li a img{
    display: inline-block;
    vertical-align: middle;
    height: 55px;
}

.suggest-options li a span{
    color: var(--black-color);
    text-decoration: none;
}

.suggest-listproduct {
    width: 100%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}

.suggest-product{
    background-color: rgb(253, 251, 251);
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    padding-bottom: 80px ;
    float: left;
}

.suggest-product__img{
    width: calc(100% - 8px);
    margin: 30px 5px 30px 5px;
}

.suggest-product__img:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */  
    cursor: pointer;
}

.suggest-product h3{
    font-size: 15px;
    padding: 0px 8px 8px;
    line-height: 21px;
    margin: 0px !important;
}

.suggest-product h3:hover{
    color: #3fb2f0;
   
}

.suggest-product strong{
    color: rgb(171, 11, 11);    
    padding-left: 5px;
}

.suggest-product small{
    color: rgb(195, 72, 15);
    background-color: rgb(196, 156, 137);
    border-radius: 2px;
    
}

.btWatch{
    padding: 15px 30px;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 400px;
    margin-top: 20px;
    width: 300px;  
}

.btWatch a{
    text-decoration: none;
    color: black;
}

.footer{
    clear: both;
    border-top: 1px solid #e2e2e2;
    margin-top: 35px;
    background: #fff;
    display: block;
    box-sizing: border-box;
}

.footer-top{
    /* padding: 15px 160px 5px; */
    display: flex;
    width: 100%; 
    max-width: 1200px !important;  
    margin: auto;
}

.footer-list{
    list-style: none;
    padding: 0px;
}

.footer-list li{
    margin-bottom: 10px;
}

.footer-list li a {
    color: rgb(0, 0, 0);
    line-height: 21px;
    text-decoration: none;
    
}

.footer-list li a:hover{
    color: #288ad6;
    transition: .2s;
}

.f3-content a{
    color: #2098f4 !important;
    font-weight: bold;
}

.icon-congthuong{
    background-position: -200px -30px;
    height: 24px !important;
    width: 79px !important;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
    box-sizing: border-box;
}

.icon-khieunai{
    background-position: -250px 0;
    height: 25px;
    width: 25px;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

.icon-protected{
    background-position: -80px -60px;
    height: 24px;
    width: 122px !important;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px
}

.icon-topzone{
    background-position: 0 -58px;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
}

.logo-dienmayxanh{
    background-position: -85px 0;
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
}

.source{
    background-color: #f1f1f1;
    padding: 15px 160px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: -9px
}
